<% #provide(:title, "About") %>
<h1>About</h1>
<p>
  Elijah Spiro is building his first Ruby website.
</p>
<div class="panel">
  <div class="panel-heading">
    SUUUUUUUP
  </div>
  <div class="panel-body">
    HUOHDOIHDOIUHDOUDHOUDHOUDODOHDO
  </div>
</div>