<%= javascript_include_tag 'about', 'data-turbolinks-track'=> 'reload' %>

<div class="panel-about">
  <div id="toFade">
    <%= image_tag("me5.jpg", class: :pic_of_me_5, alt: "#") %>
  </div>
</div>
