<%= javascript_include_tag 'about', 'data-turbolinks-track'=> 'reload' %>

<div class="global">
  <div class="about-panels">
    <div class="row">
      <div class="panel-about">
        <%= image_tag("me6.jpg", class: :pic_of_me_5, alt: "#") %>
      </div>
      <div class="panel-about2">
        <h4><div class="title">About Me</div></h4>
        <br/>
        <div class="non-center">
          <div class="p1">
            &nbsp; &nbsp; &nbsp; &nbsp;I'm a rising senior studying computer science and astronomy
            at Amherst College, in Massachusetts. I'm the captain of my school's varsity swim team, where I hold multiple
            school records and have qualified for the NCAA championship meet both individually and as a part of relay teams.
            I've completed multiple internships with NASA, and I have participated in astrophysics research projects at
            Stanford University.
          </div>
          <br/>
          <br/>
          <div class="p2">
            &nbsp; &nbsp; &nbsp; &nbsp; I'm accompanied at school and work by my Diabetic Alert Service Dog, Nova. He's capable
            of smelling and reacting to the hormone that my body produces when my blood sugar drops or spikes quickly. He's saved
            my life on numerous occasions, and he is the first service animal to ever work at Kennedy Space Center-- he was even
            awarded a government badge.
          </div>
          <br/>
          <br/>
          <div class="p3">
            &nbsp; &nbsp; &nbsp; &nbsp;I believe that humanity has the potential to accomplish extraordinary feats, and I strive
            every day to be a part of that movement. Though my aspirations to become an astronaut were halted by a diabetes diagnosis,
            I refuse to let that define my contributions to America's space program. I write code for the Space Launch System,
            and I will help to put humans on Mars.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to "Home", root_path, class: "btn btn-lg "%>

<div class="mobile">
  <div class="about-panels">
    <div class="row">
      <div class="panel-about">
        <%= image_tag("me6.jpg", class: :pic_of_me_5, alt: "#") %>
      </div>
      <div class="panel-about2">
        <h4><div class="title">About Me</div></h4>
        <br/>
        <div class="non-center">
          <div class="p1">
            &nbsp; &nbsp; &nbsp; &nbsp;I'm a rising senior studying computer science and astronomy
            at Amherst College, in Massachusetts. I'm the captain of my school's varsity swim team, where I hold multiple
            school records and have qualified for the NCAA championship meet both individually and as a part of relay teams.
            I've completed multiple internships with NASA, and I have participated in astrophysics research projects at
            Stanford University.
          </div>
          <br/>
          <br/>
          <div class="p2">
            &nbsp; &nbsp; &nbsp; &nbsp; I'm accompanied at school and work by my Diabetic Alert Service Dog, Nova. He's capable
            of smelling and reacting to the hormone that my body produces when my blood sugar drops or spikes quickly. He's saved
            my life on numerous occasions, and he is the first service animal to ever work at Kennedy Space Center-- he was even
            awarded a government badge.
          </div>
          <br/>
          <br/>
          <div class="p3">
            &nbsp; &nbsp; &nbsp; &nbsp;I believe that humanity has the potential to accomplish extraordinary feats, and I strive
            every day to be a part of that movement. Though my aspirations to become an astronaut were halted by a diabetes diagnosis,
            I refuse to let that define my contributions to America's space program. I write code for the Space Launch System,
            and I will help to put humans on Mars.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
