<%= javascript_include_tag 'awards', 'data-turbolinks-track'=> 'reload' %>

<div class="awards-panels">
  <div class="row">
    <div class="panel-awards">
      <%= image_tag("award1.jpg", class: :pic_of_award, alt: "#") %>
    </div>
    <!--<div class="panel-awards2">-->
    <!--</div>-->
  </div>
</div>
