<%= javascript_include_tag 'get_in_touch', 'data-turbolinks-track'=> 'reload' %>

<!--<div class="about-panels">-->
<div class="row">
  <div class="panel-get-in-touch">
    <div class="panel-get-in-touch2">
      <h4><div class="get-in-touch-title">Contact Me:</div></h4>
      <br/>
      <h4><div class="get-in-touch-title2">espiro18@amherst.edu</div></h4>
    </div>
    <div class="panel-get-in-touch3">
      <div class="non-center">
        <div class="para1">
          &nbsp; &nbsp; &nbsp; &nbsp;Do you have an idea for an app, website, or computer program, but lack the technical skills to bring it to
          fruition? <i>I can help!</i>
          <br>
          <br>
          &nbsp; &nbsp; &nbsp; &nbsp;For a fair and negotiable price, I'll deliver you a professional looking product <i>quickly</i>.
          Send me an email with your idea and I'll respond within 24 hours!
          <br>
          <br>
          &nbsp; &nbsp; &nbsp; &nbsp;Whether you're looking for help programming a hobby project, supporting your business with a professional
          website, or bringing me aboard your team full time; I'm eager to help and I won't let you down.
          <br>
          <br>
          <center>Send me an email today!</center>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
