<%= javascript_include_tag 'get_in_touch', 'data-turbolinks-track'=> 'reload' %>

<div class="global">
  <div class="row">
    <div class="panel-get-in-touch">
      <div class="panel-get-in-touch2">
        <h4><div class="get-in-touch-title">Contact Me:</div></h4>
        <br/>
        <h4><div class="get-in-touch-title2">espiro18@amherst.edu</div></h4>
      </div>

      <div class="panel-get-in-touch3">
        <div class="non-center">
          <div class="para1">
            <h4><center>Available Services</center></h4>
            <br>
            <ul>
              <li>Software Development</li>
              <li>Web Design</li>
              <li>App Creation</li>
              <li>Systems Engineering</li>
              <li>Artificial Intelligence Programming</li>
              <li>3D Modeling</li>
              <li>Algorithm Analysis</li>
              <li>Problem Solving</li>
            </ul>
            <!--&nbsp; &nbsp; &nbsp; &nbsp; I-->
          </div>
        </div>
      </div>

      <div class="panel-get-in-touch4">
        <div class="non-center">
          <div class="para1">
            <h4><center>Languages + Frameworks</center></h4>
            <br>
            <ul>
              <li>Java</li>
              <li>C++, Objective C</li>
              <li>Python</li>
              <li>Ruby, Javascript, HTML, CSS</li>
              <li>Bash Scripting</li>
              <li>Ruby on Rails, Robot Framework, SikuliX, OpenGL, Matlab, Version Control Software (Git, AccuRev)  </li>
            </ul>
            <!--&nbsp; &nbsp; &nbsp; &nbsp; I-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="home_button">
  <%= link_to "Home", root_path, class: "btn btn-lg texty"%>
</div>

<div class="mobile">
  <div class="row">
    <div class="panel-get-in-touch">
      <div class="panel-get-in-touch2">
        <h4><div class="get-in-touch-title">Contact Me:</div></h4>
        <br/>
        <h4><div class="get-in-touch-title2">espiro18@amherst.edu</div></h4>
      </div>

      <div class="panel-get-in-touch3">
        <div class="non-center">
          <div class="para1">
            <h4><center>Available Services</center></h4>
            <br>
            <ul>
              <li>Software Development</li>
              <li>Web Design</li>
              <li>App Creation</li>
              <li>Systems Engineering</li>
              <li>Artificial Intelligence Programming</li>
              <li>3D Modeling</li>
              <li>Algorithm Analysis</li>
              <li>Problem Solving</li>
            </ul>
            <!--&nbsp; &nbsp; &nbsp; &nbsp; I-->
          </div>
        </div>
      </div>

      <div class="panel-get-in-touch4">
        <div class="non-center">
          <div class="para1">
            <h4><center>Languages + Frameworks</center></h4>
            <br>
            <ul>
              <li>Java</li>
              <li>C++, Objective C</li>
              <li>Python</li>
              <li>Ruby, Javascript, HTML, CSS</li>
              <li>Bash Scripting</li>
              <li>Ruby on Rails, Robot Framework, Sikuli, OpenGL, Matlab, Version Control Software (Git, AccuRev)  </li>
            </ul>
            <!--&nbsp; &nbsp; &nbsp; &nbsp; I-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>