<%= javascript_include_tag 'publications', 'data-turbolinks-track'=> 'reload' %>

<div class="outer">
  <div class="middle">
    <div class="inner">
      <div class="panel-publications1">
        <div id="toFade">
          <%= link_to "Open Article", "https://arxiv.org/pdf/1704.06260.pdf", class: "btn btn-lg btn-resume", target: :_blank %>
        </div>
      </div>
    </div>
  </div>
</div>
