<%= javascript_include_tag 'research', 'data-turbolinks-track'=> 'reload' %>

<div class="research-panels">
  <!--<div class="row">-->
    <div class="panel-research">
      <%= image_tag("poster.jpg", class: :pic_of_poster, alt: "#") %>
    </div>
    <div class="panel-research2">
      <div class="head"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp; &nbsp;Amherst College</div>
      <ul>
        <li> Assisted Professor <a target="_blank", href="http://www2.astro.psu.edu/~jyoung/">Jason Young</a> </li>
        <li> Accompanied on a week-long observational run to McDonald Observatory, in Fort Davis, Texas </li>
        <li> Worked with data collected by the VIRUS-P telescope </li>
        <li> Wrote code to aid in post-processing images in the data reduction pipeline </li>
        <li> Worked with integral field unit spectroscopy to assess elemental composition of segments of galaxies</li>
      </ul>
    </div>
    <div class="panel-research4">
      <div class="head">Stanford University &nbsp; &nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
      <ul>
        <li> Assisted Professor <a target="_blank", href="http://www.katefollette.com/">Kate Follette</a> </li>
        <li> Wrote code to assist in direct imaging of exoplanets </li>
        <li> Improved GPI data reduction pipeline, resulting in 10% clearer images in faster run time </li>
        <li> Developed an automated parameter space search algorithm to optimize use of the PyKLIP framework </li>
        <li> Built a graphical user interface to mitigate use of principal component analysis tool </li>
        <li> Presented findings in a scientific conference setting </li>
      </ul>
    </div>
    <div class="panel-research3">
      <%= image_tag("me_with_poster.jpg", class: :pic_of_me_with_poster, alt: "#") %>
    </div>
  <!--</div>-->
</div>
