@import "bootstrap-sprockets";
@import "bootstrap";

$purple-translucent: rgba(140,2,133,.6);
$purple-opaque: rgba(140,2,133, .8);

//$purple-translucent: rgba(186,165,27,.6);
//$purple-opaque: rgb(186,165,27);

/*  universal */

body {
  padding-top: 5px;
  //background-color: palevioletred;
  background: url("space_wyatt.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar-buttons {
  background-color: black;
  opacity: .7;
}

html{
  //overflow: hidden;
  //height: 10%;
  //zoom: 0.5;
  //transform: scale(0.8);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-alight: center;
}

.center h1 {
  margin-bottom: 10px;
}

.jumbotron {
  //background-color: #8c0285;
  //background: rgba(140,2,133,.6);
  margin-top: 60px;
  background: rgba(0,0,0,1);
  height: 235px;
}

.pedigrees {
  position: relative;
  bottom: 80px;
}

h7 {
  margin-top: -15px;
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: whitesmoke;
}

.name_icon {
  position: relative;
  //text-align: center;
  left: 120px;
  bottom: 40px;
}

.navbar{
  //background-color: #8c0285;
  border-bottom: 1px solid $purple-translucent;
  background: $purple-translucent;
  height: 60px;
  ul {
    color: white;
    position: relative;
    bottom: 50px;
  }
}

h4 {
  font-size: 30px;
}

.project-panel {
  display: none;
}

.panel-codeblock {
  border: 1px solid white;
  background: $purple-opaque;
  width: 1100px;
  height: 400px;
  position: relative;
  margin-top: 0px;
  text-align: center;
  line-height: 20px;
  color: white;
  img {
    width: 85%;
    margin-left: 30px !important;
    margin-top: 10px;
    //margin: auto;
  }
  .project_description {
    margin-top: 100px;
  }
}

.arrow-down {
  height: 100px;
  width: 100px;
  margin-bottom: 75px;
  margin-left: 45%;
  opacity: .7;
  &:hover {
    opacity: .4;
    background-color: white;
  }
}

.arrow-up {
  height: 100px;
  width: 100px;
  margin-top: 75px;
  margin-left: 45%;
  opacity: .7;
  &:hover {
    opacity: .4;
    background-color: white;
  }
}

.contact-page {
  color: white;
  background-color: $purple-opaque;
  margin: auto;
  margin-top: 100px;
}

.panel-custom00 {
  background: $purple-translucent;
  color: white;
  width: 350px;
  height: 620px;
}

.panel-about {
  border: 1px solid white;
  opacity: 0;
  display: hidden !important;
  background: $purple-opaque;
  position: relative;
  text-align: center;
  line-height: 20px;
  color: white;
  width: 1000px;
  height: 600px;
  margin: auto;
  margin-top: 10%;
}

.panel-custom0 {
  background: $purple-translucent;
  color: white;
  width: 1135px;
  height: 75px;
  position: relative;
  text-align: center;
  line-height: 75px;
  vertical-align: middle;
  bottom: 50px;
  left: 20px;
}

.panel-text{
  font-size: 20px;
  margin: 10px;
  position: relative;
  top: 30px;
}

.animate {
  position: absolute;
  .scroll1 {
    left: -450px;
  }
  .scroll2 {
    left: -850px;
  }
  .scroll3 {
    left: -1400px;
  }
  .scroll4 {
    left: -1950px;
  }
  .scroll5 {
    left: -2300px;
  }
}

.panel-custom1 {
  background: $purple-translucent;
  //border: 1px solid white;
  color: white;
  width: .57*560px;
  height: .57*560px;
  position: relative;
  bottom: 34px;
}

.panel-custom2 {
  //border: 1px solid white;
  background: $purple-translucent;
  color: white;
  width: .5*500px;
  height: .5*650px;
  position: relative;
  bottom: 40px;
}

.panel-custom3 {
  //border: 1px solid white;
  background: $purple-translucent;
  color: white;
  width: .5*800px;
  height: .5*640px;
  position: relative;
  bottom: 40px;
}

.ultimate {
  display: none;
}

.panel-custom4 {
  //border: 1px solid white;
  background: $purple-translucent;
  color: white;
  width: .5*800px;
  height: .49*640px;
  position: relative;
  bottom: 30px;
}

.panel-custom5 {
  //border: 1px solid white;
  background: $purple-translucent;
  color: white;
  width: .55*400px;
  height: .7*640px;
  position: relative;
  bottom: 30px;
}

.pic_of_me_1 {
  width: 100%;
  opacity: 1;

}

.pic_of_me_2 {
  width: 100%;
  opacity: 1;
  position: relative;
  top: 5px;
  //left: 50px;
}

.pic_of_me_3 {
  width: 100%;
  opacity: 1;

}

.pic_of_me_4 {
  width: 100%;
  opacity: 1;
  position: relative;
  top: 5px;
}

.pic_of_me_6 {
  width: 95%;
  opacity: 1;
  position: relative;
  top: 5px;
}

.pic_of_me_5 {
  width: 90%;
  margin-left: 100px;
}

.btn-custom1 {
  background-color: black;
  color: whitesmoke;
  &:hover {
    color: $purple-opaque;
  }
}

.btn-custom2 {
  background-color: black;
  color: whitesmoke;
  &:hover {
    color: $purple-opaque;
  }
}

.fa {
  color: $purple-translucent;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-custom3 {
  background-color: black;
  color: whitesmoke;
  &:hover {
    color: $purple-opaque;
  }
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.facebook_icon {
  margin-top: 3px;
  width: 5%;
}

.github_icon {
  margin-top: 3px;
  width: 4%;
}

.NASA_icon {
  margin-left: 2px;
  margin-top: 2px;
  width: 4.5%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: whitesmoke !important;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: whitesmoke;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/*  header  */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}